@font-face {
  font-family: 'varela';
  src: url('./VarelaRound-Regular.ttf')
}

* {
  font-family: 'varela' !important;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  align-items: center;
    display: flex;
    justify-content: center;
    background: whitesmoke;
}

input[type="text"] {
  text-align: right !important;
}

.card {
  padding: 1rem !important;
}

.card .content {
  border: none !important;
}

.card .content .header {
  font-size: 2rem !important;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

.statistic {
  width: 50%;
}

#turn .word-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  width: 100%;
}

#turn .stats {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: white;
  width: calc(100% + 2rem);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

#turn #word {
  direction: rtl;
  text-align: center;
}

#main {
  width: 30%;
  position: unset !important;
}

#timer {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  transform: rotate(-10deg);
  display: none;
}

#end-of-turn {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  text-align: center;
  direction: rtl;
  display: none;
}

#end-of-turn .button {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  #main {
    width: 100%;
    height: 100%;
    background: none !important;
    border: none !important;
    box-shadow: none !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .segment .fluid.input {
    width: 80%;
  }

  #turn .stats {
    margin: -1rem !important;
    position: relative !important;
  }

  #end-of-turn {
    left: 1rem !important;
    right: 1.5rem;
    top: 5rem !important;
    width: unset !important;
  }
}
